@font-face {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #e50914;
}

body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  --webkit-font-smoothing: antialiased;
}

main{
  
}