@font-face {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #e50914;
}

body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  --webkit-font-smoothing: antialiased;
}

main{
  
}

#selection{
  width:100%;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#selection .container{
  width:60%;
}

#selection .container .container{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

#selection select{
  width:100%;
  margin:1rem;
  border-radius: 0.3rem;
  padding:0.5rem;
  border:solid 2px black;

  font-weight:500;
}

#pokemon_Display{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pokemon_DisplayA, #pokemon_DisplayB{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:solid 2px black;
  border-radius: 0.3rem;
  padding:2rem;
  width:100%;
  margin:1rem;
}

.pokemon_bio{
  margin-bottom:1rem;
}

.pokemon_bio p{
  padding:0.1rem;
}

.pokemon_stats{
  list-style-position: inside;
  border: solid 2px black;
  border-radius: 0.5rem;
  padding:1rem;
}