
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #e50914;
  --secondary-color: white;
  --primary-font:"Rubik Mono One", monospace;
  --secondary-font:"Press Start 2P", system-ui;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  --webkit-font-smoothing: antialiased;
}

main{
  background-color: red;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#selection{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family:var(--primary-font);
}

#selection .container{
  width:80%;
}

#selection .container .container{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

#selection select{
  width:100%;
  margin:1rem;
  border-radius: 0.3rem;
  padding:1rem;
  border:solid 2px black;
  font-family:var(--secondary-font);
  font-weight:500;
}

#pokemon_Display{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pokemon_DisplayA, #pokemon_DisplayB{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:solid 2px black;
  border-radius: 0.3rem;
  padding:2rem;
  width:100%;
  height:100%;
  margin:1rem;
  background-color: white;
}

.pokemon h2{
  width:80%;
  text-align: center;
  border-bottom: solid 2px black;
  padding-bottom:0.5rem;
}

.pokemon img{
  margin:1rem;

}

.pokemon_bio{
  margin-bottom:1rem;
  width:75%;
}

.pokemon_bio p{
  padding:0.1rem;
  font-size: 1rem;
  width:fit-content;
}

.pokemon_stats{
  list-style-position: inside;
  border: solid 2px black;
  border-radius: 0.5rem;
  padding:1rem;
  font-family:var(--secondary-font);
  font-size: 0.75rem;
  width: 75%;
  background-color: rgb(42, 164, 42);
}

.pokemon_stats li{
  margin:0.5rem;
}

.winner_attr{
  color: blue;
}

.winner_stat{
  color:yellow;
}

#battle{
  position:relative;
}

#battle button{
  margin: 1rem auto;
  padding:1rem;
  display: block;
  border: solid 2px black;
  border-radius: 0.3rem;
  background-color: white;
  font-family: var(--primary-font);
  font-size: 1rem;
}

#battle button:active{
  box-shadow: yellow 0px 1px 4px, yellow 0px 0px 0px 3px;
}

#battle_event{
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.750);
}

#battle_event h3{
  font-family: "Bangers", system-ui;
  font-size: 8rem;
  text-shadow: 5px 5px 0px yellow;
}

#battle_event h4{
  font-size: 2rem;
  margin:1rem;
  text-shadow: 3px 3px 0px blue;
}

.display_none{
  display: none !important;
}

.visibility_hidden{
  visibility: hidden !important;
}

